<div class="row">
  <div class="col-xs-12" *ngFor="let Desti of desti">
    <img [src]="Desti.image1"
     alt="{{desti.name}}"
     class="img-responsive"
     style="max-height:300px"
     >
  </div>
</div>
<div class="row">
  <div class='col-xs-12' *ngFor="let Desti of desti">
    <h3>{{Desti.name}}</h3>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown >
      <button type="button"
      class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a  style="cursor:pointer">To Shopping List</a></li>
      <li><a  style="cursor:pointer"> Edit Recipes</a></li>
      <li><a  style="cursor:pointer"> Delete Recipe</a></li>
    </ul>
  </div>
</div>
</div>  -->
<div class="row">
  <div class="col-xs-12" *ngFor="let Desti of desti">
     {{Desti.description}}
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
       <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}{{ingredient.amount}}
      </li> 
    </ul>
  </div>
</div> -->